@font-face {
    font-family: 'calibre';
    src: url('./fonts/CalibreRegular.otf') format('woff');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'sfmono';
    src: url('./fonts/SFMonoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #ccd6f6;
    --secondary-color: #8892b0;
    --highlight-color: #52d4b9;
    --background-color: #0a192f;
    --feature-font: 'calibre';
    --text-font: 'sfmono';
}

/* Default Configuration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ scroll-behavior:smooth }

h1, h2 {
    font-family: var(--feature-font);
    font-size: calc(1rem + 3vw);
}

h3 {
    font-family: var(--feature-font);
    font-size: calc(1rem + 1.5vw);
}

p, li {
    font-size: calc(1rem + 0.1vw);
    line-height: calc(1.4rem + 0.6vw);
    font-family: var(--text-font);
}

span {
    color: var(--highlight-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: calc(1rem + 0.3vw);
    color: unset;
}

button {
    font-size: calc(1rem + 0.3vw);
    padding: 20px;
    background: none;
    font-family: 'sfmono';
    cursor: pointer;
}

.contact-info i:hover {
    color: var(--primary-color);
    transition: color .5s;
}

/* Utility Classes */

.pointer:hover {
    cursor: pointer;
}

.bg-dark {
    background-color: var(--background-color);
}

.primary-text {
    color:var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.highlight-text {
    color: var(--highlight-color);
}

.btn-primary {
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
    font-family: 'sfmono'
}

.btn-primary:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all .25s;
}

.btn-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .25s;
}

.btn-secondary:hover {
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

.key {
    color: var(--highlight-color);
    font-size: calc(1rem + 0.1vw);
    line-height: calc(1.4rem + 0.6vw);
    font-family: var(--text-font);
    border-bottom: 1px solid var(--highlight-color);
}

.key:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Styling for Nav Bar */
nav {
    padding: 20px 50px;
    min-height: 10vh;
    max-width: 100%;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Grid Alignment */
nav .nav-links {
    justify-self: end;
}

nav .logo img {
    height: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    padding: 0 20px;
    white-space: nowrap;  
    flex-direction: column;  
    position: relative;
}

nav ul li a {
    color: var(--primary-color);
    font-family: 'sfmono';
    font-size: calc(1rem + 0.1vw);
}

nav ul li:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 20px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background: var(--highlight-color);
}

nav ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Styling for Hero Section */

#hero {
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;    
}

#hero .info {
    padding: 30px;    
}

#hero .info .text h1 {
    white-space: nowrap;
}

#hero .info .text .bio {
    margin-top: 10px;
}

#hero .info .text p:first-child, .text p:last-child {
    margin-bottom: 20px;
}

#hero ul {
    display: flex;
}

#hero ul li {
    margin-right: 20px;
    font-size: calc(1rem + 0.2vw);
    color:var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

#hero ul li:hover {
    border-color: var(--highlight-color);
    color: var(--secondary-color);
    transition: all .25s;
}


#hero .info button {
    margin-top: 30px;
}

#hero .info button a {
    color: var(--highlight-color);
}

#hero .info button a:hover {
    color: var(--primary-color);
    transition: color .25s;
}

#hero img {
    width: 100%;
    border-radius: 50%;
    margin-left: 10px;
}

/* About Section */
.line {
    color: var(--primary-color)
}

.line span {
    color: var(--highlight-color);
}

#about {
    min-height: 90vh;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 100px;
}

.about-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    align-items: center;
    justify-content: center;    
    gap: 60px;
    color: var(--primary-color);
}

.about-wrapper p {
    padding: 20px 0;
    line-height: 2;
}

.about-wrapper img {
    max-width: 100%;
    justify-self: center;
    align-self: start;
}

/* Projects */
#project {
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
}

.project-container {
    margin-top: 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    color: var(--primary-color);
}

.project-container-1 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/openReading.png') no-repeat center center/cover;
}

.project-container-2 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .9),  rgba(10, 25, 47, .9)), url('./images/vietsight.png') no-repeat center center/cover;
}

.project-container-3 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .9),  rgba(10, 25, 47, .9)), url('./images/media.png') no-repeat center center/cover;
}

.project-container-4 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .9),  rgba(10, 25, 47, .9)), url('./images/tictactoe.png') no-repeat center center/cover;
}

.project-container-5 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .9),  rgba(10, 25, 47, .9)), url('./images/etch.png') no-repeat center center/cover;
}

.project-container .date {
    color: var(--highlight-color);
}

.project-container .languages {
    margin-top: 20px;
}

.project-container .buttons {
    display: flex;
    gap: 20px;
}

.project-container .buttons a {
    font-family: 'sfmono';
}

/* Other Projects Section */
#otherprojects {
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
}

#otherprojects h1 {
    text-align: center;
}

#otherprojects .refit-project-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 60px;
}

#otherprojects .otherproject-container {
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    text-align: center;
}

#otherprojects .otherproject-container h3 {
    color: var(--primary-color);
}

#otherprojects .project-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

/* For Background Images */
.project-1 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/calculator.png') no-repeat center center/cover;
}

.project-2 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/credit.png') no-repeat center center/cover;
}

.project-3 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/admin.png') no-repeat center center/cover;
}

.project-4 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/library.png') no-repeat center center/cover;
}

.project-5 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/rock.png') no-repeat center center/cover;
}

.project-6 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/mario.png') no-repeat center center/cover;
}

.project-7 {
    background: linear-gradient(0deg, rgba(10, 25, 47, .7),  rgba(10, 25, 47, .7)), url('./images/reading.png') no-repeat center center/cover;
}

/* Contact */
#contact {
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 100px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding-top: 50px;       
    gap: 60px;
}

form input, form textarea {
    padding: 20px 15px;
    border: 1px solid var(--highlight-color);
    outline: none;    
    background: none;
    color: var(--secondary-color);
    width: 100%;
    font-size: 18px;
}

form div:nth-child(2), form div:nth-child(3) {
    margin-top: 20px;
}

form button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}

 form button i {
    padding-left: 10px;
 }

.contact-info i {
    color: var(--highlight-color);
    font-size: 50px;
    padding: 20px 0;
    padding-right: 30px;
}

/* Footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
}



.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.footer-text a {
    margin-top: 10px;
    font-family: var(--text-font);
}

.mini-line {
    transform: rotate(90deg);
}

/* Hamburger Menu */
.menu-wrap {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 70px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hamburger Lines */

/* Middle Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Top Line */
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before, .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-wrap .menu > div {
    background: rgba(0, 0, 0, .6);    
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.4s ease;
    transform: scale(0);
    border-radius: 100%;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: var(--highlight-color);
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 18px;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--secondary-color);

}

.menu-wrap .menu > div > div > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
