@media (max-width: 1600px) {
    #hero, .about-wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0;
    }

    #hero .info {
        padding: 0;
    }

    #hero img {
        display: none;
    }

    h1, h2 {
        font-size: calc(1rem + 3vw);
    }

    .about-wrapper {
        margin-top: 20px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    .project-container .date {
        margin-bottom: 10px;
    }

    .project-container .buttons {
        flex-direction: column;
    }

    #otherprojects .refit-project-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #otherprojects .refit-project-grid .project-buttons {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    nav .nav-links {
        display: none;
    }

    .menu-wrap {
        display: block;
    }


    nav .logo img {
        height: 40px;
    }

    #otherprojects h1 {
        margin-bottom: 50px;
    }

    #otherprojects .refit-project-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    #otherprojects .otherproject-container {
        margin-top: 30px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

   .contact-grid i {
    font-size: 30px;
   }

   .mini-line {
    display: none;
   }
}
